[Unit]
Description=Events Spa App

[Service]
Type=simple
User=frankhw09
Group=frankhw09
Restart=on-failure
Environment=MIX_ENV=prod
Environment=PORT=4795
Environment=PROD=true
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/frankhw09/server
ExecStart=/bin/bash /home/frankhw09/server/start.sh

[Install]
WantedBy=multi-user.target
